* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #444455;
  }

  .calculator {
    boakground: transparent;
    box-shadow: 0 0 100px 0 rgb(173, 173, 173);
    padding: 20px;
    border-radius: 10px;
  }

  .calculator form input {
    border: 0;
    outline: none;
    font-size: 20px;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 5px 5px 10px rgb(54, 54, 54),
    -5px -5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
  }

  .calculator form input:active {
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.01),
    inset -5px -5px 15px rgba(0, 0, 0, 0.2);
  }

  form .result {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }

  form .result input{
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    text-align: right;
  }

  form .result input:active {
    box-shadow: none;
  }

  #equal {
    width: 145px;
  }

  form input.operator {
    color: #33ffd8;
  }